/*body{
    background:lightblue;
    text-align: center;
}
.wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
img{
    //transform: rotateZ(-90deg) translateY(200px) scale(2);
}
.circle{
    color: white;
    background: pink;
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 40px auto;
    border-radius: 50px;
    cursor: pointer;
    transition: background 1s, transform 0.3s;
}
.circle:hover{
    background: salmon;
    transform: rotate(360deg);
}*/
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.grass, .sky, .road{
    position: relative;
}
.sky{
    background: skyblue;
    height:40%;
}
.grass{
    height: 30%;
    background: seagreen;
}
.road{
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
}
.lines{
    border: 4px dashed;
    color: white;
    box-sizing: border-box;
    height: 0px;
    top: 50%;
    width: 100%;
    position: absolute;
}
/*// elements to animate //*/
.mario{
    position: absolute;
    top: -40px;
    left: 0px;
    animation-name: drive;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode:both;
    animation-iteration-count: 3;
}
/*// keyframes //*/
@keyframes drive{
    from{transform: translateX(0)}
    to{transform: translateX(500px)}
}
.luigi{
    position: absolute;
    top: 40px;
    left: 0px;
    animation-name: drive1;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: 3;
}
@keyframes drive1{
    from{transform: translateX(0)}
    to{transform: translateX(500px)}
}
